<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h2>Calculations</h2>
    <strong>Addition = </strong> <span> <%= resultObject.sum %> </span> <br>
    <!-- <strong>Subtraction = </strong> <span>10</span> <br>
    <strong>Multiplication = </strong> <span>10</span> <br>
    <strong>Division = </strong> <span>10</span> -->
</body>
</html>