img{
    height: 250px;
    border: 6px double black;
    padding: 6px;
    transition: 0.2s
}

.right-align{
    float: right;
    margin: 0 20px  6px 12px;
}

.left-align{
    float: left;
    margin: 0 12px 6px 0;
}

p{
    text-align: justify;
    border: 2px solid black;
}

h2{
    text-align: center;
}

.right-align:hover{
    border: 6px double red;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

.left-align:hover{
    border: 6px double blue;
}